* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container {
    text-align: center;
    background-color: #1a1a1a;
    height: 100vh;
    color: white;
    padding: 40px;
    /* margin-top: 40px; */
    margin: auto;
}

.contact-container h3 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #888;
}

.contact-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 800px;
    margin: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #222;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #1a1a1a;
    padding: 10px;
    border-radius: 5px;
}

.contact-form {
    background: #222;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: #555;
    border: none;
    color: white;
    cursor: pointer;

}

.contact-form button:hover {
    background: #777;
}



@media(max-width:768px) {
    .contact-content {
        flex-direction: column;
        gap: 20px;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }
}

@media(max-width:480px) {
    .contact-container h1 {
        font-size: 2rem;

    }

    .contact-container h3 {
        font-size: 0.9rem;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1rem;
    }

    .contact-form button {
        font-size: 1rem;
    }
}