* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #400505, #032a2ae8);
    animation: backgroundMove 6s infinite alternate;
    color: white;
    text-align: center;
    margin-top: 0;

}

.home-content h1 {
    font-size: 3rem;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;

}

.home-content h1 span {
    color: #646202;
}

.home-content p {
    font-size: 1.2rem;
    opacity: 0;
    margin-top: 12px;

    animation: fadeIn 2s ease-in forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 40px;
    color: white;
    background: #1b0804;
    text-decoration: none;
    border-radius: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-right: 10px;
    transition: 0.3s;




}

.icons {
    margin-top: 20px;

}

.icons i {
    transition: 0.3s;
    font-size: 32px;
    color: white;

}


.icons i:hover {
    transform: scale(1.2);
}

.icons a {
    display: inline-block;
    margin: 0 10px;
}