*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skill-section{
    text-align: center;
    padding: 40px;
    background: linear-gradient(45deg, #121212, #0e0f0fe8);
    animation: backgroundMove 6s infinite alternate;
    width: 100%;
    height: 100vh;
    margin-top: 0;
}

h2{
    font-size: 2rem;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* margin-top: 0; */
}

.skill{
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
    animation:fadeInUp 0.8s ease-in-out forwards; 

}

.skill:hover{
    transform:  translateY(-5px) scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.skill i{
    width: 50px;
    height: 50px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
}


.skill-title{
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;

}

.skill-section h3{
    color: white;
}


@keyframes fadeInUp{
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media(max-width:600px){
    .skill-container{
        flex-direction: column;
        align-items:  center;
    }
}