*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #121212;
    padding: 40px 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h4 {
    margin-bottom: 15px;
    color: #b0b3b8;
    font-size: 16px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #FFD700;
}

.subscribe input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.subscribe button {
    width: 100%;
    padding: 10px;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.subscribe button:hover {
    background-color: #FFD700;
    color: black;
}


.logo{
    color: white;
  
  
  }