
.container{
    margin-top: 100px;
}

.about-container{
    margin-top: 100px;
}

.service-section{
    margin-top: 100px;
}

.skill-section{
    margin-top: 100px;
}

.contact-container{
    margin-top: 100px;
}